In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('../data/Raw_forecast_2019.xlsx')
df.head()

,거래일자,지역(시),지역(군),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,조사지역
0,20190102,서울,종로구,-4.9,-6.7,-8.8,0.0,0.0,0.0,0.0,0.0,0.0,3.4,서울
1,20190102,강원도,춘천시,-7.5,-9.7,-13.9,0.0,0.0,0.0,0.0,0.0,0.0,1.9,춘천
2,20190102,강원도,철원군,-9.5,-11.9,-16.6,0.0,0.0,0.0,0.0,0.0,0.0,1.8,철원
3,20190102,강원도,속초시,-1.4,-2.9,-6.3,0.0,0.0,0.0,0.0,0.0,0.0,4.8,속초
4,20190102,강원도,원주시,-5.7,-4.9,-11.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9,원주

In [5]:
df = df.drop(['조사지역'], axis=1)
date_series = pd.Series(df['거래일자'])
date_f =pd.to_datetime(date_series, format='%Y%m%d', errors='ignore')
df['거래일자'] = date_f
df['month_year'] = pd.to_datetime(df['거래일자']).dt.to_period('M')
df.drop(['거래일자'], axis=1, inplace=True)
df.head()

,지역(시),지역(군),평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속,month_year
0,서울,종로구,-4.9,-6.7,-8.8,0.0,0.0,0.0,0.0,0.0,0.0,3.4,2019-01
1,강원도,춘천시,-7.5,-9.7,-13.9,0.0,0.0,0.0,0.0,0.0,0.0,1.9,2019-01
2,강원도,철원군,-9.5,-11.9,-16.6,0.0,0.0,0.0,0.0,0.0,0.0,1.8,2019-01
3,강원도,속초시,-1.4,-2.9,-6.3,0.0,0.0,0.0,0.0,0.0,0.0,4.8,2019-01
4,강원도,원주시,-5.7,-4.9,-11.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9,2019-01

In [6]:
df_group = df.groupby(['지역(시)','month_year']).mean()
df_group.reset_index(inplace=True)
df_group

,지역(시),month_year,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,강원도,2019-01,-2.168214,3.136429,-8.154643,0.108214,6.214286,2.403571,45.271429,2.796429,0.000000,7.228929
1,강원도,2019-02,0.183214,5.802500,-5.186429,0.828929,6.953571,4.117857,56.885714,4.232143,0.000000,7.041071
2,강원도,2019-03,5.662500,11.546786,-0.031071,1.448214,6.425000,5.467857,59.978571,4.389286,0.000000,8.963571
3,강원도,2019-04,10.249643,16.715357,3.850357,2.077857,7.203571,7.042857,57.889286,4.496429,0.000000,8.717500
4,강원도,2019-05,17.942581,24.920645,10.669355,0.487419,9.354839,9.293548,52.961290,3.706452,0.000000,8.906774
...,...,...,...,...,...,...,...,...,...,...,...,...
187,충청북도,2019-08,25.704032,31.119355,21.503226,4.277419,6.733871,9.362903,74.693548,6.024194,0.000000,7.118548
188,충청북도,2019-09,21.015000,26.134167,16.727500,5.813333,4.616667,6.700000,77.491667,6.866667,0.000000,6.882500
189,충청북도,2019-10,14.431452,20.746774,9.152419,3.477419,6.233871,6.483871,73.201613,5.169355,0.000000,7.395968
190,충청북도,2019-11,6.890000,13.850000,1.011667,2.560833,5.466667,5.316667,68.741667,4.575000,0.000000,7.590833
191,충청북도,2019-12,0.570161,6.037903,-4.182258,0.759677,5.088710,3.935484,68.733871,4.217742,0.002419,7.004839

In [7]:
df_group2 = df_group.groupby(['month_year']).mean()
df_group2.reset_index(inplace=True)
df_group2

,month_year,평균기온,최고기온,최저기온,강수량,일조시간,일사량,습도,운량,적설량,순간최대풍속
0,2019-01,0.885447,5.672987,-3.923810,0.301228,6.083123,4.724126,48.350056,3.408023,0.022413,7.914009
1,2019-02,2.758271,8.097738,-1.878564,1.213984,6.528819,6.334015,56.436954,5.406932,0.053276,7.967377
2,2019-03,7.756758,13.735897,2.652261,1.382202,7.129105,8.369320,59.258780,4.768403,0.000558,9.612547
3,2019-04,12.116302,18.051981,6.761589,1.974672,6.988424,9.379012,60.525012,5.097731,0.000130,8.472266
4,2019-05,18.673124,25.211244,12.504377,1.927708,9.493151,12.455124,56.816224,4.311212,0.000000,8.404481
5,2019-06,21.169094,26.517317,17.043848,4.911182,7.419313,10.962444,73.450554,5.691875,0.000000,7.076007
6,2019-07,24.402098,28.668448,21.432640,7.621908,5.162627,8.637541,80.004827,6.997069,0.000000,7.336976
7,2019-08,26.218325,30.774505,22.776704,4.695384,7.057528,9.501318,78.318172,5.874583,0.000000,7.138415
8,2019-09,21.921670,26.426883,18.503576,7.807386,4.876973,7.129321,80.182359,6.791002,0.000000,7.430579
9,2019-10,16.258816,21.557310,11.818081,4.408081,6.614188,6.969060,73.255444,4.908182,0.000000,7.482010
10,2019-11,9.083516,15.264105,4.313847,1.780516,6.154173,5.461971,67.118816,4.401023,0.000000,7.651821
11,2019-12,3.261869,8.242717,-0.929356,1.042021,5.409283,4.353754,64.161403,4.529242,0.002507,7.714252

In [8]:
df_T = df_group2.T # Transpose --> 행/열을 바꿔준다.
df_T.loc['month_year',:] = pd.Series(['M1-2019','M2-2019','M3-2019','M4-2019','M5-2019','M6-2019',
                                      'M7-2019','M8-2019','M9-2019','M10-2019','M11-2019','M12-2019'])
df_T

,0,1,2,3,4,5,6,7,8,9,10,11
month_year,M1-2019,M2-2019,M3-2019,M4-2019,M5-2019,M6-2019,M7-2019,M8-2019,M9-2019,M10-2019,M11-2019,M12-2019
평균기온,0.885447,2.75827,7.75676,12.1163,18.6731,21.1691,24.4021,26.2183,21.9217,16.2588,9.08352,3.26187
최고기온,5.67299,8.09774,13.7359,18.052,25.2112,26.5173,28.6684,30.7745,26.4269,21.5573,15.2641,8.24272
최저기온,-3.92381,-1.87856,2.65226,6.76159,12.5044,17.0438,21.4326,22.7767,18.5036,11.8181,4.31385,-0.929356
강수량,0.301228,1.21398,1.3822,1.97467,1.92771,4.91118,7.62191,4.69538,7.80739,4.40808,1.78052,1.04202
일조시간,6.08312,6.52882,7.1291,6.98842,9.49315,7.41931,5.16263,7.05753,4.87697,6.61419,6.15417,5.40928
일사량,4.72413,6.33402,8.36932,9.37901,12.4551,10.9624,8.63754,9.50132,7.12932,6.96906,5.46197,4.35375
습도,48.3501,56.437,59.2588,60.525,56.8162,73.4506,80.0048,78.3182,80.1824,73.2554,67.1188,64.1614
운량,3.40802,5.40693,4.7684,5.09773,4.31121,5.69187,6.99707,5.87458,6.791,4.90818,4.40102,4.52924
적설량,0.0224126,0.0532757,0.000558036,0.000130208,0,0,0,0,0,0,0,0.00250672
순간최대풍속,7.91401,7.96738,9.61255,8.47227,8.40448,7.07601,7.33698,7.13841,7.43058,7.48201,7.65182,7.71425

In [9]:
df_T_res = df_T.reset_index()
df_T_res

,index,0,1,2,3,4,5,6,7,8,9,10,11
0,month_year,M1-2019,M2-2019,M3-2019,M4-2019,M5-2019,M6-2019,M7-2019,M8-2019,M9-2019,M10-2019,M11-2019,M12-2019
1,평균기온,0.885447,2.75827,7.75676,12.1163,18.6731,21.1691,24.4021,26.2183,21.9217,16.2588,9.08352,3.26187
2,최고기온,5.67299,8.09774,13.7359,18.052,25.2112,26.5173,28.6684,30.7745,26.4269,21.5573,15.2641,8.24272
3,최저기온,-3.92381,-1.87856,2.65226,6.76159,12.5044,17.0438,21.4326,22.7767,18.5036,11.8181,4.31385,-0.929356
4,강수량,0.301228,1.21398,1.3822,1.97467,1.92771,4.91118,7.62191,4.69538,7.80739,4.40808,1.78052,1.04202
5,일조시간,6.08312,6.52882,7.1291,6.98842,9.49315,7.41931,5.16263,7.05753,4.87697,6.61419,6.15417,5.40928
6,일사량,4.72413,6.33402,8.36932,9.37901,12.4551,10.9624,8.63754,9.50132,7.12932,6.96906,5.46197,4.35375
7,습도,48.3501,56.437,59.2588,60.525,56.8162,73.4506,80.0048,78.3182,80.1824,73.2554,67.1188,64.1614
8,운량,3.40802,5.40693,4.7684,5.09773,4.31121,5.69187,6.99707,5.87458,6.791,4.90818,4.40102,4.52924
9,적설량,0.0224126,0.0532757,0.000558036,0.000130208,0,0,0,0,0,0,0,0.00250672
10,순간최대풍속,7.91401,7.96738,9.61255,8.47227,8.40448,7.07601,7.33698,7.13841,7.43058,7.48201,7.65182,7.71425

In [ ]:
df_T_res.to_excel()