In [13]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
bmi=pd.read_csv("../../data/bmi.csv",encoding="utf-8")
bmi.head(10)

   height  weight   label
0     186      47    thin
1     143      74     fat
2     144      55     fat
3     173      60  normal
4     170      74     fat
5     155      60  normal
6     180      39    thin
7     170      39    thin
8     143      35    thin
9     160      45    thin

In [3]:
bmi[['height','weight']].head(5)

   height  weight
0     186      47
1     143      74
2     144      55
3     173      60
4     170      74

In [4]:
bmi['label'].head(5)

0      thin
1       fat
2       fat
3    normal
4       fat
Name: label, dtype: object

In [8]:
X = bmi[ ['height','weight']].values
Y = bmi[['label']].values

In [10]:
label_encoder = LabelEncoder()
Y = label_encoder.fit_transform(Y)
X = StandardScaler().fit_transform(X)

C:\Users\sundooedu\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    Y,
                                                    random_state=0)

svc = SVC()
svc.fit(X_train, y_train)

print("훈련 세트 정확도: {:.2f}".format(svc.score(X_train, y_train)))
print("테스트 세트 정확도: {:.2f}".format(svc.score(X_test, y_test)))

훈련 세트 정확도: 1.00
테스트 세트 정확도: 1.00