In [1]:
%load_ext watermark
%watermark -v -p sklearn,numpy,scipy,matplotlib

from preamble import *
plt.rcParams['image.cmap'] = "gray"
from IPython.display import display
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mglearn
import pandas as pd
import numpy as np
import platform

import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')    

plt.rcParams['axes.unicode_minus'] = False

CPython 3.7.3
IPython 7.6.1

sklearn 0.22
numpy 1.16.4
scipy 1.3.2
matplotlib 3.1.0

In [2]:
from preamble import *
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
import graphviz
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [3]:
train=pd.read_csv("../../data/train.csv",index_col='PassengerId',dtype={"Age": np.float64})
train

,Survived,Pclass,Name,Sex,...,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,...,A/5 21171,7.25,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,...,PC 17599,71.28,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,...,STON/O2. 3101282,7.92,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,...,113803,53.10,C123,S
5,0,3,"Allen, Mr. William Henry",male,...,373450,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,...,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,...,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,...,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,...,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,...,370376,7.75,NaN,Q

In [4]:
test=pd.read_csv("../../data/test.csv",index_col='PassengerId',dtype={"Age": np.float64})
test

,Pclass,Name,Sex,Age,...,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,...,330911,7.83,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,...,363272,7.00,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,...,240276,9.69,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,...,315154,8.66,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,...,3101298,12.29,NaN,S
...,...,...,...,...,...,...,...,...,...
1305,3,"Spector, Mr. Woolf",male,NaN,...,A.5. 3236,8.05,NaN,S
1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,...,PC 17758,108.90,C105,C
1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,...,SOTON/O.Q. 3101262,7.25,NaN,S
1308,3,"Ware, Mr. Frederick",male,NaN,...,359309,8.05,NaN,S
1309,3,"Peter, Master. Michael J",male,NaN,...,2668,22.36,NaN,C

In [5]:
X=pd.concat((train,test),0)
X

,Age,Cabin,Embarked,Fare,...,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,
1,22.0,NaN,S,7.25,...,male,1,0.0,A/5 21171
2,38.0,C85,C,71.28,...,female,1,1.0,PC 17599
3,26.0,NaN,S,7.92,...,female,0,1.0,STON/O2. 3101282
4,35.0,C123,S,53.10,...,female,1,1.0,113803
5,35.0,NaN,S,8.05,...,male,0,0.0,373450
...,...,...,...,...,...,...,...,...,...
1305,NaN,NaN,S,8.05,...,male,0,NaN,A.5. 3236
1306,39.0,C105,C,108.90,...,female,0,NaN,PC 17758
1307,38.5,NaN,S,7.25,...,male,0,NaN,SOTON/O.Q. 3101262
1308,NaN,NaN,S,8.05,...,male,0,NaN,359309
1309,NaN,NaN,C,22.36,...,male,1,NaN,2668

# 열 이름을 모두 소문자로 만들어 준다.

In [6]:
X.rename(columns=lambda x: x.replace(x, x.lower()), inplace=True)
X.columns

Index(['age', 'cabin', 'embarked', 'fare', 'name', 'parch', 'pclass', 'sex',
       'sibsp', 'survived', 'ticket'],
      dtype='object')

## 성별을 숫자 형식으로 바꿔준다.

In [7]:
X['isnull'] = X.isnull().sum(axis=1)
X['ticket'] = X['ticket'].str.lower().replace('\W', '')
# Sex
X.sex.fillna(0, inplace=True)
X.loc[X.sex != 'male', 'sex'] = 1
X.loc[X.sex == 'male', 'sex'] = 0
X['namelen'] = X['name'].apply(len)
bin_num = 4
X['namelen'] = pd.qcut(X['namelen'], bin_num,labels=list(range(bin_num))).astype(float)
X['namelen']

PassengerId
1       1.0
2       3.0
3       1.0
4       3.0
5       1.0
       ...
1305    0.0
1306    2.0
1307    2.0
1308    0.0
1309    1.0
Name: namelen, Length: 1309, dtype: float64

In [8]:
X['sex']

PassengerId
1       0
2       1
3       1
4       1
5       0
       ..
1305    0
1306    1
1307    0
1308    0
1309    0
Name: sex, Length: 1309, dtype: int64

# 객실 배정받은 사람 표시

In [9]:
X['cabinox'] = X["cabin"].apply(lambda x: 0 if type(x) == float else 1)
X['cabinox']

PassengerId
1       0
2       1
3       0
4       1
5       0
       ..
1305    0
1306    1
1307    0
1308    0
1309    0
Name: cabinox, Length: 1309, dtype: int64

## 패밀리 사이즈 표시

In [10]:
X['familysize'] = X['sibsp'] + X['parch'] + 1
X['familysize']

PassengerId
1       2
2       2
3       1
4       2
5       1
       ..
1305    1
1306    1
1307    1
1308    1
1309    3
Name: familysize, Length: 1309, dtype: int64

# 혼자 왔는지 표시

In [11]:
X['isfamily'] = 1
X.loc[X['isfamily'] == 1, 'notalone'] = 0
X['isfamily']

PassengerId
1       1
2       1
3       1
4       1
5       1
       ..
1305    1
1306    1
1307    1
1308    1
1309    1
Name: isfamily, Length: 1309, dtype: int64

### Embarked :
### C = Cherbourg, 
### Q = Queenstown, 
### S = Southampton

In [12]:
X['embarked'].fillna(method='backfill', inplace=True)

In [13]:
X['embarked'] = X['embarked'].map( {'C': 1, 'Q': 2, 'S': 0} ).astype(float)
X['embarked'].head()

PassengerId
1    0.0
2    1.0
3    0.0
4    0.0
5    0.0
Name: embarked, dtype: float64

# 요금 Na값 처리

In [14]:
X['fare'] = X['fare'].fillna(X['fare'].median())
X['fare']

PassengerId
1         7.25
2        71.28
3         7.92
4        53.10
5         8.05
         ...
1305      8.05
1306    108.90
1307      7.25
1308      8.05
1309     22.36
Name: fare, Length: 1309, dtype: float64

# 요금 구간값 정하기

In [15]:
X.loc[ X['fare'] <= 7.91, 'fare'] = 0
X.loc[(X['fare'] > 7.91) & (X['fare'] <= 14.454), 'fare'] = 1
X.loc[(X['fare'] > 14.454) & (X['fare'] <= 31), 'fare'] = 2
X.loc[ X['fare'] > 31, 'fare'] = 3
X['fare'] = X['fare'].astype(float)
X['fare']

PassengerId
1       0.0
2       3.0
3       1.0
4       3.0
5       1.0
       ...
1305    1.0
1306    3.0
1307    0.0
1308    1.0
1309    2.0
Name: fare, Length: 1309, dtype: float64

In [16]:
X.iloc[1, 3]

3.0

# 객실 구간값 정하기

In [17]:
X.cabin.fillna('0', inplace=True)
X.loc[X.cabin.str[0] == 'A', 'cabin'] = 1
X.loc[X.cabin.str[0] == 'B', 'cabin'] = 2
X.loc[X.cabin.str[0] == 'C', 'cabin'] = 3
X.loc[X.cabin.str[0] == 'D', 'cabin'] = 4
X.loc[X.cabin.str[0] == 'E', 'cabin'] = 5
X.loc[X.cabin.str[0] == 'F', 'cabin'] = 6
X.loc[X.cabin.str[0] == 'G', 'cabin'] = 7
X.loc[X.cabin.str[0] == 'T', 'cabin'] = 8
X['cabin'] = X['cabin'].astype(int)
X['cabin']

PassengerId
1       0
2       3
3       0
4       3
5       0
       ..
1305    0
1306    3
1307    0
1308    0
1309    0
Name: cabin, Length: 1309, dtype: int32

## 여성과 소년 선택

In [18]:
boy = (X['name'].str.contains('Master')) | ((X['sex']==0) & (X['age']<13))
female = X['sex']==1
boy_or_female = boy | female

## 여성과 소년 숫자를 티켓에 부여

In [19]:
n_ticket = X[boy_or_female].groupby('ticket').survived.count()
n_ticket

ticket
110152         3
110413         2
110813         1
111361         2
112053         1
              ..
w./c. 6607     1
w./c. 6608     3
w./c. 6609     1
w.e.p. 5734    0
we/p 5735      1
Name: survived, Length: 350, dtype: int64

## 여성과 소년 생존률 티켓에 표시

In [20]:
tick_surv = X[boy_or_female].groupby('ticket').survived.mean()
X['boy'] = (X['name'].str.contains('Master')) | ((X['sex']==0) & (X['age']<13))
X['boy']

PassengerId
1       False
2       False
3       False
4       False
5       False
        ...
1305    False
1306    False
1307    False
1308    False
1309     True
Name: boy, Length: 1309, dtype: bool

## nticket을 여성과 소년 숫자로 채운다.

In [21]:
X['nticket'] = X['ticket'].replace(n_ticket)
X['nticket']

PassengerId
1                a/5 21171
2                        1
3                        1
4                        1
5                   373450
               ...
1305             a.5. 3236
1306                     1
1307    soton/o.q. 3101262
1308                359309
1309                     2
Name: nticket, Length: 1309, dtype: object

## nticket = 0으로 채운다.

In [22]:
X.loc[~X.ticket.isin(n_ticket.index),'nticket']=0

## 티켓 생존률 열 추가

In [23]:
X['ticketsurv'] = X['ticket'].replace(tick_surv)

## ticketsurv = 0으로 채운다.

In [24]:
X.loc[~X.ticket.isin(tick_surv.index),'ticketsurv']=0
X['ticketsurv'].fillna(0, inplace=True)
X['ticketsurv']

PassengerId
1       0.0
2       1.0
3       1.0
4       1.0
5       0.0
       ...
1305    0.0
1306    1.0
1307    0.0
1308    0.0
1309    1.0
Name: ticketsurv, Length: 1309, dtype: float64

# Title 열 추가

In [25]:
conversion_rare = lambda x: x.split(',')[1].split('.')[0].strip()
X['title'] = X['name'].map(conversion_rare)

titles = X['title'].unique()
titles

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer', 'Dona'], dtype=object)

In [26]:
X['title'] = X['title'].replace('Mlle','Miss')
X['title'] = X['title'].replace('Ms','Miss')
X['title'] = X['title'].replace('Mme','Mrs')

Rare=['Lady','the Countess','Countess','Capt','Master',
      'Col','Don','Dr','Major','Rev','Sir','Jonkheer','Dona']

for each in Rare:
    X['title'] = X['title'].replace(each, 'Rare')
    
X['title'].unique()

array(['Mr', 'Mrs', 'Miss', 'Rare'], dtype=object)

# title 구간 정하기

In [27]:
title_mapping = {"Mr": 0, "Miss": 1, "Mrs": 2, "Master": 3, "Rare": 4}
X['title'] = X['title'].map(title_mapping)
X['title'] = X['title'].fillna(0)

# 나이 결측치 채우기 - median 이용

In [28]:
grouped = X.groupby(['sex','pclass', 'title'])
X['age'] = grouped['age'].apply(lambda x: x.fillna(x.median()))
X['age'] = X['age'].astype(int)
X['age']

PassengerId
1       22
2       38
3       26
4       35
5       35
        ..
1305    26
1306    39
1307    38
1308    26
1309     6
Name: age, Length: 1309, dtype: int32

# 나이 구간값 정하기

In [29]:
X.loc[ X['age'] <= 16, 'age'] = 5
X.loc[(X['age'] > 16) & (X['age'] <= 32), 'age'] = 1
X.loc[(X['age'] > 32) & (X['age'] <= 48), 'age'] = 2
X.loc[(X['age'] > 48) & (X['age'] <= 64), 'age'] = 3
X.loc[ X['age'] > 64, 'age'] = 4
X['age']

PassengerId
1       1
2       2
3       1
4       2
5       2
       ..
1305    1
1306    2
1307    2
1308    1
1309    5
Name: age, Length: 1309, dtype: int32

In [30]:
X['manual_tree'] = 0
X.loc[boy_or_female, 'manual_tree'] = 1
X.loc[(X['sex'] == 1) & 
      (X['pclass'] == 3) & 
      (X['embarked'] == 0)  &
      (X['fare'] > 0), 'manual_tree'] = 0
X.loc[(X['sex'] == 0) &
      (X['title'] == 3), 'manual_tree'] = 1
X['manual_tree']

PassengerId
1       0
2       1
3       0
4       1
5       0
       ..
1305    0
1306    1
1307    0
1308    0
1309    1
Name: manual_tree, Length: 1309, dtype: int64

# 이름 처리

In [31]:
tfidf_vec = TfidfVectorizer(max_features=15, token_pattern="\w+")
svd = TruncatedSVD(n_components=10)
tfidf_array = svd.fit_transform(tfidf_vec.fit_transform(X["name"]))
for i in range(tfidf_array.shape[1]):
    X.insert(len(X.columns), column = 'name_' + str(i), value = tfidf_array [:,i])
X['name']

PassengerId
1                                 Braund, Mr. Owen Harris
2       Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                  Heikkinen, Miss. Laina
4            Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                                Allen, Mr. William Henry
                              ...
1305                                   Spector, Mr. Woolf
1306                         Oliva y Ocana, Dona. Fermina
1307                         Saether, Mr. Simon Sivertsen
1308                                  Ware, Mr. Frederick
1309                             Peter, Master. Michael J
Name: name, Length: 1309, dtype: object

# 티켓 처리

In [32]:
tfidf_vec = TfidfVectorizer(max_features=5, analyzer="char")
svd = TruncatedSVD(n_components=3)
tfidf_array = svd.fit_transform(tfidf_vec.fit_transform(X["ticket"]))
for i in range(tfidf_array.shape[1]):
    X.insert(len(X.columns), column = 'ticket_' + str(i), value = tfidf_array [:,i])
X['ticket'] = X['ticket'].str.extract('(\d+)', expand=False).fillna(0).astype(float)
X['ticket'] = np.round(np.log1p(X['ticket'])*10)
X.drop(['name'],1,inplace=True)

In [33]:
X

,age,cabin,embarked,fare,...,name_9,ticket_0,ticket_1,ticket_2
PassengerId,,,,,,,,,
1,1,0,0.0,0.0,...,3.38e-03,0.71,0.58,-0.29
2,2,3,1.0,3.0,...,4.28e-02,0.61,0.67,0.19
3,1,0,0.0,1.0,...,1.60e-04,0.77,-0.07,-0.62
4,2,3,0.0,3.0,...,4.69e-03,0.72,0.41,-0.20
5,2,0,0.0,1.0,...,-5.90e-02,0.73,-0.18,0.58
...,...,...,...,...,...,...,...,...,...
1305,1,0,0.0,1.0,...,3.38e-03,0.67,-0.43,-0.20
1306,2,3,1.0,3.0,...,0.00e+00,0.54,0.53,0.37
1307,2,0,0.0,0.0,...,3.38e-03,0.80,0.09,-0.59
1308,1,0,0.0,1.0,...,3.38e-03,0.51,-0.20,0.10
1309,5,0,1.0,2.0,...,1.83e-02,0.46,-0.51,-0.57

In [34]:
X['ticket'] = X['ticket'].astype(int).astype('category')

col_to_use = ['embarked', 'fare', 'parch', 'pclass', 'sex', 'age', 
              'namelen', 'cabinox', 'cabin', 'familysize', 'isfamily', 
              'title', 'ticketsurv', 'nticket', 'boy', 'manual_tree',
              'ticket_0', 'ticket_1', 'ticket_2',
              'name_0', 'name_1', 'name_2', 'name_3', 'name_4',
              'name_5', 'name_6', 'name_7', 'name_8', 'name_9']

X = pd.get_dummies(X[col_to_use])
X[col_to_use] += 0.0

# X_train,X_test,y_train 나누기

In [35]:
X_train=X.iloc[:891,:]
X_train

,embarked,fare,parch,pclass,...,name_6,name_7,name_8,name_9
PassengerId,,,,,,,,,
1,0.0,0.0,0.0,3.0,...,-2.16e-02,-9.68e-03,-1.23e-02,3.38e-03
2,1.0,3.0,0.0,1.0,...,-6.05e-02,-6.80e-02,1.90e-02,4.28e-02
3,0.0,1.0,0.0,3.0,...,-2.42e-03,-1.31e-03,1.06e-03,1.60e-04
4,0.0,3.0,0.0,1.0,...,-3.67e-02,-1.94e-02,-2.15e-02,4.69e-03
5,0.0,1.0,0.0,3.0,...,4.52e-01,1.14e-01,-3.83e-01,-5.90e-02
...,...,...,...,...,...,...,...,...,...
887,0.0,1.0,0.0,2.0,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00
888,0.0,2.0,0.0,1.0,...,-2.42e-03,-1.31e-03,1.06e-03,1.60e-04
889,0.0,2.0,2.0,3.0,...,-2.42e-03,-1.31e-03,1.06e-03,1.60e-04
890,1.0,2.0,0.0,1.0,...,-2.16e-02,-9.68e-03,-1.23e-02,3.38e-03
891,2.0,0.0,0.0,3.0,...,-2.16e-02,-9.68e-03,-1.23e-02,3.38e-03

In [36]:
X_test=X.iloc[891:,:]
X_test

,embarked,fare,parch,pclass,...,name_6,name_7,name_8,name_9
PassengerId,,,,,,,,,
892,2.0,0.0,0.0,3.0,...,2.40e-03,8.58e-01,3.61e-01,-2.16e-02
893,0.0,0.0,0.0,3.0,...,-1.13e-02,7.58e-01,3.14e-01,-1.78e-02
894,2.0,1.0,0.0,2.0,...,2.15e-01,7.33e-02,2.37e-03,6.73e-01
895,0.0,1.0,0.0,3.0,...,-2.16e-02,-9.68e-03,-1.23e-02,3.38e-03
896,0.0,1.0,1.0,3.0,...,-3.67e-02,-1.94e-02,-2.15e-02,4.69e-03
...,...,...,...,...,...,...,...,...,...
1305,0.0,1.0,0.0,3.0,...,-2.16e-02,-9.68e-03,-1.23e-02,3.38e-03
1306,1.0,3.0,0.0,1.0,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00
1307,0.0,0.0,0.0,3.0,...,-2.16e-02,-9.68e-03,-1.23e-02,3.38e-03
1308,0.0,1.0,0.0,3.0,...,-2.16e-02,-9.68e-03,-1.23e-02,3.38e-03
1309,1.0,2.0,1.0,3.0,...,-3.34e-02,-1.85e-02,9.09e-03,1.83e-02

In [37]:
y_train=train['Survived']
y_train

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [38]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=3)

In [39]:
clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [40]:
print("테스트 세트 예측:", clf.predict(X_test))

테스트 세트 예측: [0 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 1 0 1 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0 1
 1 1 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 0
 0 1 0 1 0 0 1 1 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 0 1 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0
 1 0 1 1 0 1 0 0 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 1 0 1 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 1 0 0
 1 0 0 0 0 1 0 1 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0
 1 0 1 0 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0
 0 1 1 0 1 0 0 1 0 0 1]

In [41]:
print("트레인 세트 정확도: {:.2f}".format(clf.score(X_train, y_train)))

트레인 세트 정확도: 0.91

# Logistic Regression

In [42]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, y_train) * 100, 2)
acc_log

87.77

# Support Vector Machines

In [43]:
svc = SVC(gamma=0.1)
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, y_train) * 100, 2)
acc_svc

90.91

# KNN

In [44]:
knn = KNeighborsClassifier(n_neighbors = 18)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, y_train) * 100, 2)
acc_knn

86.64

# Gaussian Naive Bayes

In [45]:
gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, y_train) * 100, 2)
acc_gaussian

81.82

# Perceptron

In [46]:
perceptron = Perceptron()
perceptron.fit(X_train, y_train)
y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, y_train) * 100, 2)
acc_perceptron

81.14

# Linear SVC

In [47]:
linear_svc = LinearSVC()
linear_svc.fit(X_train, y_train)
y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, y_train) * 100, 2)
acc_linear_svc

87.99

# Stochastic Gradient Descent

In [48]:
sgd = SGDClassifier()
sgd.fit(X_train, y_train)
y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, y_train) * 100, 2)
acc_sgd

87.54

# Decision Tree

In [49]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, y_train) * 100, 2)
acc_decision_tree

99.33

# Random Forest

In [50]:
random_forest = RandomForestClassifier(n_estimators=500)
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)
random_forest.score(X_train, y_train)
acc_random_forest = round(random_forest.score(X_train, y_train) * 100, 2)
acc_random_forest

99.33

In [51]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
3               Random Forest  99.33
8               Decision Tree  99.33
0     Support Vector Machines  90.91
7                  Linear SVC  87.99
2         Logistic Regression  87.77
6  Stochastic Gradient Decent  87.54
1                         KNN  86.64
4                 Naive Bayes  81.82
5                  Perceptron  81.14

In [52]:
submission = pd.DataFrame({"PassengerId": X_test.index,
                           "Survived": knn.predict(X_test)})
submission.to_csv('../../data/submission.csv', index=False)