In [1]:
import requests
from bs4 import BeautifulSoup

In [5]:
page = requests.get('http://dataquestio.github.io/web-scraping-pages/simple.html')
soup = BeautifulSoup(page.content, 'html.parser')
page.content

b'<!DOCTYPE html>\n<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <p>Here is some simple content for this page.</p>\n    </body>\n</html>'

In [6]:
print(f'soup.p:\n{soup.p}\nsoup.title:\n{soup.title}\nsoup.head:\n{soup.head}\nsoup.body:\n{soup.body}')

soup.p:
<p>Here is some simple content for this page.</p>
soup.title:
<title>A simple example page</title>
soup.head:
<head>
<title>A simple example page</title>
</head>
soup.body:
<body>
<p>Here is some simple content for this page.</p>
</body>

In [4]:
page1 = requests.get('http://dataquestio.github.io/web-scraping-pages/ids_and_classes.html')
soup1 = BeautifulSoup(page1.content, 'html.parser')
page1.content# 미정렬

b'<html>\n    <head>\n        <title>A simple example page</title>\n    </head>\n    <body>\n        <div>\n            <p class="inner-text first-item" id="first">\n                First paragraph.\n            </p>\n            <p class="inner-text">\n                Second paragraph.\n            </p>\n        </div>\n        <p class="outer-text first-item" id="second">\n            <b>\n                First outer paragraph.\n            </b>\n        </p>\n        <p class="outer-text">\n            <b>\n                Second outer paragraph.\n            </b>\n        </p>\n    </body>\n</html>'

In [8]:
print(f'soup1:\n{soup1}\n\nsoup1.body:\n{soup1.body }\n\nsoup1.p:\n{soup1.p}')

soup1:
<html>
<head>
<title>A simple example page</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>
</html>

soup1.body:
<body>
<div>
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>
<p class="inner-text">
                Second paragraph.
            </p>
</div>
<p class="outer-text first-item" id="second">
<b>
                First outer paragraph.
            </b>
</p>
<p class="outer-text">
<b>
                Second outer paragraph.
            </b>
</p>
</body>

soup1.p:
<p class="inner-text first-item" id="first">
                First paragraph.
            </p>

In [9]:
a = soup1.find_all('p')
len(a) #4

4

In [10]:
b =soup1.find_all('p', class_='outer-text')
len(b) #2

2

In [11]:
soup1.find_all(id='first')

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>]

In [12]:
soup1.find_all(id='second')

[<p class="outer-text first-item" id="second">
 <b>
                 First outer paragraph.
             </b>
 </p>]

In [13]:
soup1.select('div p')  # 검색됨.

[<p class="inner-text first-item" id="first">
                 First paragraph.
             </p>, <p class="inner-text">
                 Second paragraph.
             </p>]

In [14]:
soup1.find_all('div p')# erorr find는 id, class_ 등 직접적으로 지정할때 사용하자

[]

In [16]:
for p in soup1.select('div p'):
    print(p.text)

                First paragraph.


                Second paragraph.

# 공공데이터 - 오픈API - 온라인 가격 정보 
# XML - REST서비스

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
page2 = requests.get('http://data.insight.go.kr:8080/openapi/service/PriceInfo/getPriceInfo?serviceKey=aSkTEXbtl4XRymqEwiFSQEGeMPo3tK%2B7pQ8nLVw4qlxJOhgTYTvPvODJ1nshAM2iu6R9EvCvAh5OvCu01y2Myg%3D%3D&itemCode=A019170&startDate=20150101&endDate=20150101&pageNo=1&numOfRows=10')
soup2 = BeautifulSoup(page2.content, 'html.parser')

In [19]:
soup2.find('ic').string

'A019170'

In [20]:
soup2.find('in').string

'냉동식품'

In [21]:
pi_list =[]
for pi in soup2.find_all('pi'):
    pi_list.append(pi.string)
pi_list

['999334384',
 '99781659',
 '996779248',
 '996514461',
 '996182902',
 '995175838',
 '994706485',
 '992409023',
 '986488146',
 '986025507']

In [22]:
pn_list =[]
for pn in soup2.find_all('pn'):
    pn_list.append(pn.string)
pn_list

['일드프랑스 까망베르(125g)',
 '풀무원 옛두부 300g*2',
 '피자소스(피자푸드 태원 2K)',
 '코리원[페스츄리도우 25X25(5개입)쌀도우/오곡도우/녹차곡물도우/9인치/12인치/임실/피자재료',
 '월남쌈튀김겸용 원형22Cm 500g X 1 가공식품 쌈 월남',
 '대상_국산찌개부침(기획)_300G*2',
 '동원_수제 치즈돈까스_480G',
 '이탈리안 라자니아_280G_Singles pride',
 '월간비건 12월호',
 ' 쟌슨빌 김치 부대찌개 965g + 사리면 110g x 2']

In [23]:
sp_list =[]
for sp in soup2.find_all('sp'):
    sp_list.append(sp.string)
sp_list

['11930.0',
 '3861.0',
 '6170.0',
 '9510.0',
 '6540.0',
 '3980.0',
 '7480.0',
 '4000.0',
 '4500.0',
 '9980.0']

In [24]:
sd_list =[]
for sd in soup2.find_all('sd'):
    sd_list.append(sd.string)
sd_list

['2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01']

In [26]:
df = pd.DataFrame({'상품번호':pi_list,
                   '상품이름':pn_list,
                   '가격':sp_list,
                   '날짜':sd_list})
df

,상품번호,상품이름,가격,날짜
0,999334384,일드프랑스 까망베르(125g),11930.0,2015-01-01
1,99781659,풀무원 옛두부 300g*2,3861.0,2015-01-01
2,996779248,피자소스(피자푸드 태원 2K),6170.0,2015-01-01
3,996514461,코리원[페스츄리도우 25X25(5개입)쌀도우/오곡도우/녹차곡물도우/9인치/12인치/...,9510.0,2015-01-01
4,996182902,월남쌈튀김겸용 원형22Cm 500g X 1 가공식품 쌈 월남,6540.0,2015-01-01
5,995175838,대상_국산찌개부침(기획)_300G*2,3980.0,2015-01-01
6,994706485,동원_수제 치즈돈까스_480G,7480.0,2015-01-01
7,992409023,이탈리안 라자니아_280G_Singles pride,4000.0,2015-01-01
8,986488146,월간비건 12월호,4500.0,2015-01-01
9,986025507,쟌슨빌 김치 부대찌개 965g + 사리면 110g x 2,9980.0,2015-01-01

In [29]:
df.to_csv('../data/price_info.csv', encoding ='cp949')

# 로컬데이터 로딩

from bs4 import BeautifulSoup
f = open('C:/Users/sundooedu/Notepad++/ex12.html', encoding ='utf-8')
soup  = BeautifulSoup(f)
f.close()

# bow vectorizing

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
text = ['this is the first documnet.',
        'this is the second document.',
        'and this is the third one.',
        'is this the first document?']

In [34]:
cv = CountVectorizer()
text = cv.fit_transform(text)
text.toarray()

array([[0, 0, 1, 1, 1, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 1, 0, 1, 1, 0, 1],
       [1, 0, 0, 0, 1, 1, 0, 1, 1, 1],
       [0, 1, 0, 1, 1, 0, 0, 1, 0, 1]], dtype=int64)

# pitcher name 확인

In [35]:
cv.get_feature_names()

['and',
 'document',
 'documnet',
 'first',
 'is',
 'one',
 'second',
 'the',
 'third',
 'this']

# df 만들기

In [37]:
df = pd.DataFrame(text.toarray(), 
                  columns=cv.get_feature_names())
df

   and  document  documnet  first  is  one  second  the  third  this
0    0         0         1      1   1    0       0    1      0     1
1    0         1         0      0   1    0       1    1      0     1
2    1         0         0      0   1    1       0    1      1     1
3    0         1         0      1   1    0       0    1      0     1

In [38]:
labels = [1, 1, 1, 0] # 1: positive, 0: negative

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
lr = LogisticRegression()
lr.fit(df, labels)
y_pred = lr.predict(df)
(y_pred == labels).mean()
lr.score(df, labels)

C:\Users\sundooedu\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.75

# deep learning으로 계산해보기

In [41]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [43]:
np.random.seed(1)
model = Sequential()
model.add(Dense(10, 
                input_dim =len(df.columns), 
                activation = 'relu'))
model.add(Dense(1))
model.compile(loss = 'binary_crossentropy', 
              optimizer = 'adam', 
              metrics=['accuracy'])
model.fit(df, 
          labels, 
          epochs = 10, 
          validation_split=.2)

Train on 3 samples, validate on 1 samples
Epoch 1/10
3/3 [==============================] - 0s 139ms/step - loss: 0.4541 - acc: 0.3333 - val_loss: 0.2335 - val_acc: 1.0000
Epoch 2/10
3/3 [==============================] - 0s 997us/step - loss: 0.4312 - acc: 0.3333 - val_loss: 0.2521 - val_acc: 1.0000
Epoch 3/10
3/3 [==============================] - 0s 994us/step - loss: 0.4092 - acc: 0.3333 - val_loss: 0.2709 - val_acc: 1.0000
Epoch 4/10
3/3 [==============================] - 0s 665us/step - loss: 0.3879 - acc: 0.3333 - val_loss: 0.2901 - val_acc: 1.0000
Epoch 5/10
3/3 [==============================] - 0s 997us/step - loss: 0.3674 - acc: 0.3333 - val_loss: 0.3095 - val_acc: 1.0000
Epoch 6/10
3/3 [==============================] - 0s 997us/step - loss: 0.3476 - acc: 0.3333 - val_loss: 0.3293 - val_acc: 1.0000
Epoch 7/10
3/3 [==============================] - 0s 664us/step - loss: 0.3285 - acc: 0.3333 - val_loss: 0.3494 - val_acc: 1.0000
Epoch 8/10
3/3 [==============================] - 0s 997us/step - loss: 0.3100 - acc: 0.3333 - val_loss: 0.3698 - val_acc: 1.0000
Epoch 9/10
3/3 [==============================] - 0s 1ms/step - loss: 0.2921 - acc: 0.3333 - val_loss: 0.3906 - val_acc: 1.0000
Epoch 10/10
3/3 [==============================] - 0s 1ms/step - loss: 0.2748 - acc: 0.3333 - val_loss: 0.4117 - val_acc: 1.0000

In [44]:
model.predict_classes(df)

array([[0],
       [1],
       [1],
       [0]])

In [45]:
model.evaluate(df, labels) # 50% 나옴

4/4 [==============================] - 0s 0us/step

[0.29640692472457886, 0.5]